.ICEauthority
.IntelliJIdea10/
.ant
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dbus/
.dmrc
.emacs.d/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gitconfig
.gnome2/
.gtk-bookmarks
.lesshst
.local/
.macromedia/
.mozilla/
.profile
.pulse-cookie
.pulse/
.ssh/
.subversion/
.subversion_IDEA/
.sudo_as_admin_successful
.thumbnails/
.xsession-errors
.xsession-errors.old
IdeaProjects/Active/
IdeaProjects/Hoovers/
IdeaProjects/lib/
Desktop/
Downloads/
examples.desktop
