[Desktop Entry]
Type=Application
Name=Intellij IDEA {{ idea_major_version }}
Icon=/opt/ideaIU-{{ idea_major_version }}/bin/idea.png
Exec=/opt/ideaIU-{{ idea_major_version }}/bin/idea.sh
Terminal=false
Categories=Application
